body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFCDEA;
}

.container {
    text-align: center;
}

.fruit-selector {
    background-color: #F767B9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

select {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #FB9AD1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F767B9;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

#nextButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

